body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}
h1{
    color: #333;
    margin-bottom: 20px;
}
table{
    background: white;
}
th{
    background: royalblue;
    color: white;
}
th, td{
    padding: 12px;
}
.custom-link{
    text-decoration: none;
    background: royalblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}